* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

.all {
    flex-grow: 1;
}

.header {
    background: #213B7E;
    display: flex;
    width: 1300px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 70px;
    margin-right: 70px;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu_link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding: 28px 18px;
    display: block;
}

.menu_link_active {
    background-color: white;
    color: #213B7E;
    text-decoration: none;
}

.button {
    width: 153px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EA5D21;
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 21px;
    color: white;
    text-decoration-line: none;
}

.content {
    padding-left: calc(50% - 911px / 2);
    padding-right: calc(50% - 911px / 2);
    position: relative;
    max-width: 911px;
    margin: 0 auto;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    padding-bottom: 25px;
    padding-top: 33px;
}

.content_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 187px;
}

.content_texts {
    width: 634px;

}

.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    padding-top: 15px;
}

.about_text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-top: 10px;
}

.colortext {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #CF5510;
}

.heading {
    position: relative;
    width: 129px;
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    margin-top: 80px;
    color: #646464;
}

.footer {
    flex-wrap: wrap;
    padding-left: calc(50% - 1268px / 2);
    padding-right: calc(50% - 1268px / 2);
    background: #213B7E;
    padding-top: 18px;
    padding-bottom: 19px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 70px;
    margin-right: 70px;
}

.centr_u {
    color: rgba(255, 255, 255, 0.5);
}

.quotes {
    font-size: 64px;
}

.quotes_left {
    position: absolute;
    left: -33px;
    top: -7px;
}

.quotes_right {
    position: absolute;
    top: 50px;
    right: -22px;
}

.block {
    position: absolute;
    max-width: 522px;
    height: 383px;
    left: 470px;
    top: 169px;
    background: #FFFFFF;
    border: 1px solid #213B7E;
    padding: 14px 29px 60px 29px;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.container {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000000;

}

.login {
    width: 463.54px;
    height: 50.39px;
    left: 499.23px;
    top: 242.46px;
    margin-top: 33px;
    background: #FFFFFF;
    border: 1px solid #808080;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    padding: 0 10px;
    color: #808080;
}

.psw {
    width: 463.54px;
    height: 50.39px;
    left: 499.23px;
    top: 344.17px;
    margin-top: 51px;
    background: #FFFFFF;
    border: 1px solid #808080;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    padding: 0 10px;
    color: #808080;
}

.btn {
    width: 159.73px;
    height: 45.81px;
    display: flex;
    justify-content: center;
    margin-top: 51px;
    margin-left: 181px;
    align-items: center;
    background: #EA5D21;
    font-style: normal;
    font-size: 18px;
    color: white;
    border: none;
}

.visible {
    display: none;
}

/* Students */

.content-students {
    padding-left: calc(50% - 1202px / 2);
    padding-right: calc(50% - 1202px / 2);
    padding-bottom: 579px;
}

.subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    color: #000000;
    margin-top: 37px;
}

.students {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.student {
    width: 200px;
    position: relative;
}

.student_new {
    position: absolute;
    top: -12px;
    right: -13px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #3AA828;
    border-radius: 20px;
    padding: 1px 2px 1px 5px;
    text-transform: uppercase;
}

.student_name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
    margin-top: 8px;
}

/* Контакты */
.content_contacts {
    padding-left: calc(50% - 1268px / 2);
    padding-right: calc(50% - 1268px / 2);
    margin-bottom: 420px;
}

.contacts {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    margin-top: 33px;
    margin-left: 288px;
    color: #000000;
}

.contacts_maps {
    left: 86px;
    top: 113px;
    margin-top: 25px;
    background: url(goole-map.jpg);

}

.contacts_text {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 288px;
    color: #000000;
}

.contacts_adres {
    width: 439px;
    height: 63px;
    top: 597px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
    color: #000000;
    margin-left: 288px;
}

.contacts_tel {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 493px;
    margin-left: 288px;
    text-decoration: underline;
}

/* О курсе */

.content_about {
    width: 147px;
    height: 35px;
    left: 286px;
    top: 113px;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    margin-top: 33px;

    color: #000000;
}

.content_about_text {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    color: #000000;
}

.about {
    box-sizing: border-box;
    width: 820px;
    height: 549.33px;
    left: 286px;
    top: 217px;
    background: url(video.png);
    margin-top: 15px;
    margin-bottom: 313px;
    border: 2px solid #EA5D21;
}

@media (max-width: 1024px) {

    /* Стили для планшета */
    .header {
        padding-left: 32px;
        padding-right: 32px;
        flex-direction: column;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .menu {
        margin-left: 0;
    }

    .menu_link {
        font-size: 18px;
        padding: 20px 14px;
    }

    .content_texts {
        width: 70%;
    }

    .content_info {
        align-items: center;
    }

    .content-students {
        padding-left: calc(50% - 736px / 2);
        padding-right: calc(50% - 736px / 2);
    }

    .content_contacts {
        padding-left: calc(50% - 736px / 2);
        padding-right: calc(50% - 736px / 2);
    }

    .contacts_maps {
        max-width: 100%;
    }
}

@media (max-width: 767px) {

    /* Стили для мобилки */
    .header {

        padding-right: 16px;
        padding-left: 16px;
    }

    .menu {
        flex-direction: column;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .logo {
        display: none;
    }

    .content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .content_info {
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
        text-align: center;
    }

    .content_texts {
        width: 90%;
    }

    .content-students {
        padding-left: 16px;
        padding-right: 16px;
    }

    .students {
        justify-content: center;
    }

    .content_about_text {
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
        text-align: center;
    }

    .contacts_maps {
        max-width: 100%;
    }
}